<h1>About us</h1>
<p>Drink up is a company based in Lusaka, and we bring the party to you. We are specilized in delivering drinks right to your door step, hassle free. And we can do this even late at night when you can't.</p>