<div class="jumbotron center">
<h1>Let's Drink up</h1>
<p>Click to log in or Sign up 
	<%= link_to "Log in", "#", class: "btn btn-primary btn-lg" %>
	<%= link_to "Sign up", "#", class:"btn btn-primary btn-lg" %></p>
</div>